
body {
    background-color: lightblue;
    font-family: Arial, sans-serif;
}

/* зд 3*/

/* Теговый селектор: применяет стили ко всем элементам <p> */
p {
    color: blue;
}

/* Идентификатор: применяет стили к элементу с идентификатором "header" */
#header {
    background-color: gray;
}

/* Класс: применяет стили ко всем элементам с классом "highlight" */
.highlight {
    font-weight: bold;
}

/* Дочерний селектор: применяет стили к элементам <li>, которые являются дочерними для элемента с классом "menu" */
.menu > li {
    display: inline-block;
}

/* Псевдоклассы: применяет стили к ссылкам при наведении на них мыши */
a:hover {
    color: red;
}

/* Псевдоэлементы: применяет стили к первой строке в каждом элементе <p> */
p::first-line {
    text-transform: uppercase;
}

/* зд 4*/

/* Применяет размер шрифта 16 пикселей */
p {
    font-size: 16px;
}

/* Применяет ширину блока на 50% от ширины родительского элемента */
div {
    width: 50%;
}

/* Применяет размер шрифта относительно размера шрифта родительского элемента */
h1 {
    font-size: 2em; /* Размер шрифта в 2 раза больше размера шрифта родителя */
}

/* Применяет размер блока 2 дюйма */
img {
    width: 2in;
}

/* Применяет отступ в 1 сантиметр ко всем сторонам блока */
article {
    padding: 1cm;
}

/* Применяет размер шрифта 12 пунктов */
span {
    font-size: 12pt;
}
